doctype html
head
  link(defer='' rel='stylesheet' type='text/css' href='/static/homestyle.css' media='screen')
  link(rel='icon' href='/media/icon.png')
  meta(charset='utf-8')
  title Welcome
.wrapper
  #formContent
    // Tabs Titles
    h2.inactive.underlineHover
      a(href='/events/my-events') My Events
    h2.inactive.underlineHover
      a(href='/events/create') Create Event
    h2.active  Join Event 
    h2.inactive.underlineHover-Log-Out
      a(href='/users/logout') Log Out
    // SignUp Form

    p.error-message=error

    form(action='/events/join-event' method='post')
      input#JoinEventCode.fadeIn.Instant(type='text' name='eventCode' placeholder='Enter Code')
      input.fadeIn.first.GeneralButton(type='submit' value='Join')
    // bottom style
    #formFooterSignUp
