doctype html
head
  link(defer='' rel='stylesheet' type='text/css' href='/static/homestyle.css' media='screen')
  link(rel='icon' href='/media/icon.png')
  script(src='/static/function.js')
  meta(charset='utf-8')
  title Join the team.
.wrapper
  #formContent
    // Tabs Titles
    h2.inactive.underlineHover
      a(href='/users/signin')  Sign In
    h2.active Sign Up 
    p=error
    // SignUp Form
    form(action='/users/signup' method='post' onsubmit='return verify_form()')
      input#username(type='text' name='fullName' placeholder='Full Name')
      input#SignUpEmail(type='text' name='email' placeholder='Email Address')
      input#Phone(type='text' name='phone' placeholder='Phone')
      input#Password(type='password' name='password' placeholder='Password')
      input#ConfirmPassword(type='password' name='confirmPassword' placeholder='Confirm Password')
      input#SumbitSignUp.GeneralButton(type='submit' value='Sign Up')
  // bottom style
  #formFooterSignUp
