doctype html
head
  link(defer='' rel='stylesheet' type='text/css' href='/static/homestyle.css' media='screen')
  link(rel='icon' href='/media/icon.png')
  script(src='/static/function.js')
  meta(charset='utf-8')
  title Join the team.
.wrapper.fadeInDown
  #formContent
    // Tabs Titles
    h2.active  Sign In 
    h2.inactive.underlineHover

      a(href='/users/signup') Sign Up

    // Icon
    .fadeIn.first
      img#icon(src='/media/LOGO.png' alt='1+ landing')

      p.error-message=error

    // Login Form
    form(action='/users/signin' method='post')
      input#login.fadeIn.first(type='text' name='email' placeholder='Email')
      input#signinpassword.fadeIn.second(type='password' name='password' placeholder='••••••')
      input.GeneralButton(type='submit' value='Sign In')
    // Remind Passowrd
    #formFooter
      a.underlineHover(href='#') About us: <br> The only website that allows you to manage your sport events !
