<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link defer rel="stylesheet" type="text/css" href="../Static/homestyle.css" media="screen" />
    <link rel="icon" href="../Media/icon.png">
    <meta charset="utf-8" />
    <title>Welcome</title>
</head>
<body>
    <div class="wrapper">
        <div id="formContent">
         <!-- Tabs Titles -->
         <h2 class="inactive underlineHover"> <a href="../View/My-Events.html">My Events</a> </h2>
         <h2 class="inactive underlineHover"> <a href="../View/Create.html">Create Event</a> </h2>
         <h2 class="active"> Join Event </h2>
         <h2 class="inactive underlineHover-Log-Out"><a href="../View/SignIn.html">Log Out</a> </h2>


            <!--SignUp Form -->
            <form>
                <input type="text" id="JoinEventCode" class="fadeIn Instant" name="JoinEventCode" placeholder="Enter Code">
                <input type="submit" class="fadeIn first GeneralButton" value="Join">
            </form>

            <!-- bottom style -->
            <div id="formFooterSignUp"></div>

        </div>
    </div>
</body>
</html>
