<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link defer rel="stylesheet" type="text/css" href="../Static/homestyle.css" media="screen" />
    <script src="../Static/function.js"></script>
    <link rel="icon" href="../Media/icon.png">
    <meta charset="utf-8" />
    <title>Welcome</title>
</head>
<body>
    <div class="wrapper">
        <div id="formContent">
         <!-- Tabs Titles -->
         <h2 class="active"> My Events </h2>
         <h2 class="inactive underlineHover"> <a href="../View/Create.html">Create Event</a> </h2>
         <h2 class="inactive underlineHover"><a href="../View/Join-Event.html">Join Event</a> </h2>
         <h2 class="inactive underlineHover-Log-Out"><a href="../View/SignIn.html">Log Out</a> </h2>


            <!--Event Scroll-->
            <div class="widget-wrap">
                
                <!-- (A) VIEW SWITCHER -->
                <div id="lgSwitches">
                  <button id="sList">&#8863;</button>
                  <button id="sGrid">&#8862;</button>
                </div>
               
                <!-- (B) ITEMS LIST/GRID -->
                <div id="lgDemo">
                  <div class="item">Item A</a>
                    <input type="submit" value="&#10148" class="ArrowMyEvent"> 
                    </div>
                  <div class="item">Item B
                    <input type="submit" value="&#10148" class="ArrowMyEvent"> 
                  </div>
                  <div class="item">Item C
                    <input type="submit" value="&#10148" class="ArrowMyEvent"> 
                  </div>
                  <div class="item">Item D
                    <input type="submit" value="&#10148" class="ArrowMyEvent"> 
                  </div>
                  <div class="item">Item E
                    <input type="submit" value="&#10148" class="ArrowMyEvent"> 
                  </div>
                </div>
                
            
              </div>
                

            <!-- bottom style -->
            <div id="formFooterSignUp"></div>
        </div>
    </div>
</body>
</html>
