
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link defer rel="stylesheet" type="text/css" href="../Static/homestyle.css" media="screen" />
    <link rel="icon" href="../Media/icon.png">
    <script src="../Static/function.js"></script>
    <meta charset="utf-8" />
    <title>Join the team.</title>
</head>
<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->
            <h2 class="active"> Sign In </h2>
            <h2 class="inactive underlineHover"><a href="../View/SignUp.html">Sign Up</a> </h2>

            <!-- Icon -->
            <div class="fadeIn.first">
                <img src="../Media/LOGO.png" id="icon" alt="1+ landing" />
            </div>

            <!-- Login Form -->
            <form>
                <input type="text" id="login" class="fadeIn first" name="loginemail" placeholder="Email">
                <input type="password" id="signinpassword" class="fadeIn second" name="loginpassword" placeholder="••••••">
                <input type="submit" class="GeneralButton"  value="Sign In">
            </form>

            <!-- Remind Passowrd -->
            <div id="formFooter">
                <a class="underlineHover" href="#">Forgot Password?</a>
            </div>

        </div>
    </div>
</body>
</html>

