<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link defer rel="stylesheet" type="text/css" href="../Static/homestyle.css" media="screen" />
    <link rel="icon" href="../Media/icon.png">
    <script src="../Static/function.js"></script>
    <meta charset="utf-8" />
    <title>Join the team.</title>
</head>
<body>
    <div class="wrapper">
        <div id="formContent">
            <!-- Tabs Titles -->
            <h2 class="inactive underlineHover"> <a href="../View/SignIn.html"> Sign In</a> </h2>
            <h2 class="active">Sign Up </h2>

            <!--SignUp Form -->
            <form action="" method="" onsubmit ="return verify_form()">
                <input type="text" id="username"  name="FullName" placeholder="Full Name">
                <input type="text" id="SignUpEmail" name="SignUpEmail" placeholder="Email Address">
                <input type="text" id="Phone"  name="Phone" placeholder="Phone">
                <input type="password" id="Password"  name="password" placeholder="Password">
                <input type="password" id="ConfirmPassword" name="ConfirmPassword" placeholder="Confirm Password">
                <input type="submit"  class="GeneralButton" id="SumbitSignUp" value="Sign Up">

            </form>
        </div>
        <!-- bottom style -->
        <div id="formFooterSignUp"></div>
       
    </div>
</body>
</html>
